.odsazeni {
    padding: 20px;
}
.odsazeniautor {
    padding: 10px;
}
a {
    text-decoration: none!important;
    color: black;
}
a:hover{
    color: blue;
}
main
{
    padding-top: 100px;
    padding-bottom: 50px;
}
.picture{
    padding-right: 10px;
}

.link{
    color: blue;
}
.footerlink
{
    color:red;
}