.odsazeni {
    padding: 15px;
}
a {
    text-decoration: none!important;
    color: black;
}
a:hover{
    color: blue;
}
main
{
    padding-top: 100px;
    padding-bottom: 50px;
}
.picture{
    padding-right: 10px;
}